body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
    margin-bottom: 20px;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
